
/.obsidian/workspace.json
/Requisitos para aprobar el semillero/3 - Plan de Trabajo/~$Plan de trabajo FUAA.xlsx
Requisitos para aprobar el semillero/6 - Entregas Parciales/Entregable 3/~$Plan de trabajo FUAA.xlsx
